body {
    font-family: Arial;
    text-align: center;
    
}

a {
    font-family: Arial;
    font-size: large;
    background-color: blueviolet;
    color: white;
    position: absolute;
    left: 15px;
    top: 15px;
    border-radius: 7px;
}

.start-quiz {
    font-family: Arial;
    color: black;
}

.startTime {
    font-family: Arial;
    font-size: large;
    background-color: red;
    color: white;
    position: absolute;
    right: 15px;
    top: 15px;
    border-radius: 7px;
}

h1 {
    text-align: center;
    padding-top: 50px;
}

h2 {
    text-align: center;
    padding-top: 100px;
}

p {
    text-align: center;
}

.hide {
    display: none;
}

button {
    background-color: green;
    color: white;
    font-size: large;
    border-radius: 7px;
    text-align: center;
}

.choices button {
    display: block;
  }

